:root {
    --selected_color: black;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

#info {
    width: 1000px;
    margin: 0 auto;
}
#buttons {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    margin-top: 0;
}
.color_container {
    display: flex;
    justify-content: center;
}

.color_box {
    width: 200px;
    height: 400px;
}

.color_1, .color_2, .color_4, .color_5, .base_color {
    width: 200px;
    height: 150px;
    background-color: black;
    margin-top: 10px;
}

.base_color {
    width: 198px;
    height: 148px;
    border: 1px solid;
}

p {
    font-size: 11px;
    margin: 3px 0 3px 2px;
}

label {
    text-transform: uppercase;
    font-size: 12px;
}

h2 {
    font-size: 13px;
    margin: 50px 0 5px 0;
    text-transform: uppercase;
}
